body {
    width: 100vw;
    background-color: #ecf0f1;
    /* position: relative; */
    margin: 0;
    margin-top: 110px;
    padding: 20px 0;
  }
  table {
    border-collapse: collapse;
    width: 100vw;
    
    
  }

 

th,
td {
  border: 1px solid #c3cbce;
  min-width: 80px;
  width: 180px;
}
th{
    font-weight: 100;
   background-color: #c3cbce;
   
}
tbody{
    background-color: #f5f6f7;
}

td:focus {
    outline: none;
  }

/* .mainBody{
    position: relative;
} */

#numbers{
        /* width: 5%; */
        min-width: fit-content; 
        position: sticky;
        top: 120px;
        left: 0;
       
  }

.cross{
    background-color: #b0b5b8;
    position: fixed;
    width: 2px !important;
    height: 19px;
    top: 130px;
    left: -55;
    z-index: 10;
}
.topRow{
    position: sticky;
    top: 129px;
    left: 0;
}

.container{
    position: fixed;
    /* top: 20px; */
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    padding: 15px 20px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 20px;
    z-index: 10;
    background-color:#ecf0f1;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    gap: 5px;
}

#current-cell{
    padding: 5px;
    width: 40px;
    height: 14px;
    background-color: white;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.home{
    background-color: #ecf0f1;
    color: rgb(2, 92, 2);
    padding: 0 5px;
    height: 25px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.header-1{
    padding-top:15px;
    padding-left: 40px;
    /* padding-bottom: 5px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 15px;
    background-color: rgba(5, 126, 5, 0.61);
}
.header-1 span{
    padding: 5px;
}

.header-2{
    padding: 5px;
    padding-left: 40px;
   
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
}

.header-3{
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    gap: 15px;
}

.header-3 .formula-fx{
    width: auto;
    height: 24px;
}

.header-3 input{
    width: 100%;
    border: none;
}

.header-3 input:focus {
    
    outline: none;
}

span:hover{
    cursor:pointer;
}

label {
    position: relative;
  }
  
  input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
    use your icon image here
  } */
  